*{
    box-sizing: border-box;
    background-color: rgb(26, 25, 25);
  }
  
  body{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
#page-header{
    text-align: center;
    padding: 20px 5px;
    font-size: 30px;
    border-bottom: 3px solid black;
    border-color: rgb(104, 104, 104);
}

header{
    font-size: 30px;
}

  nav{
    display: block;
  }
  
  #navbar{
    position: fixed;
      min-width: 290px;
      top: 0px;
      left: 0px;
      width: 300px;
      height: 100%;
      border-right: solid;
      border-color: rgb(104, 104, 104);
  }

  #navbar ul{
    padding-left: 0;
    margin-top: 0;
  }

  #navbar li{
    list-style-type: none;
    padding: 20px 10px;
    border-bottom: 3px solid rgb(104, 104, 104);
  }
  
  #navbar a{
    text-decoration: none;
    color: white;
  }
  
  main{
    display: block;
  }
  
  #main-doc{
    position: absolute;
      margin-left: 310px;
      padding: 20px;
      margin-bottom: 110px;
      width: 80%;
  }

  p{
    margin-bottom: 30px;
  }

  .code-example{
    height: auto;
    width: 500px;
    background-color: rgb(46, 46, 46);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .code-header,
  .language-name,
  .code-content,
  code,
  .code-tag-type,
  .code-tag-head,
  .code-tag-sub,
  #line-indent-1,
  .code-tag-alt{
    background-color: transparent;
  }

  .code-header{
    height: 14%;
    text-align: left;
    padding: 5px 10px;
    font-family: monospace;
    border-bottom: 1px solid rgb(112, 112, 112);
  }

  .code-tag-type{
    color: green;
  }

  .code-tag-head{
    color: aqua;
  }

  .code-tag-sub{
    color: rgb(245, 147, 147)
  }

  .code-tag-alt{
    color: rgb(156, 132, 177);
  }

  .code-content{
    padding: 15px;
  }

  #line-indent-1{
    margin-left: 20px;
  }

  #line-indent-2{
    margin-left: 40px;
  }

  img{
    max-width: 40%;
  }

  @media (min-width: 600px){
    #navbar{
      display: none;
    }
  }

  @media(min-width: 1281px){
    #navbar{
      display: block;
    }
  }